<div class="col-md-6 offset-md-3">
    <h3> Update Notes </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Author</label>
            <input type="text" class ="form-control" id = "auther"
                [(ngModel)] = "note.auther" name = "auther">
        </div>
    
        <div class="form-group">
            <label> First Paragraph</label>
            <input type="text" class ="form-control" id = "firstPar"
                [(ngModel)] = "note.firstPar" name = "firstPar">
        </div>
    
        <div class="form-group">
            <label> Second Paragraph</label>
            <input type="text" class ="form-control" id = "lastPar"
                [(ngModel)] = "note.lastPar" name = "lastPar">
        </div>
    
        <button class = "btn btn-success" type ="submit">Update</button>
    
    </form>
    </div> 